nav {
  background-color: #5d80e8;
}
#title-img {
  color: #5c59ff;
  margin-top: 15rem;
  padding-top: 4rem;
}
#img-title {
  width: 100%;
  height: 50rem;
}
.jumbotron {
  background-color: #59aeff;
  color: black;
  margin-top: 2rem;
}
.card-hotel {
  /*AL USAR FELX PUE SNO USSAMOS BOOTSTRAP*/
  /*Le decimos cuanto crece el elemento y de cuando es el ancho*/
  /* 1=  para tamaño que ocupa en flex groud ocupa 1 pasición, con 2 sera hasta el doble y 150 el ancho*/

  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-left: 0.5rem;
  /*ml-5 clase bootstrap para generar pading en pixles p-2 o t:top b:botton r: izquierda l:derecha*/
}
.btn {
  color: white;
  background-color: #5c59ff;
  width: 100%;
  border-radius: 0px;
}
.btn:hover {
  background-color: #5d80e8;
}
.btn-reserva {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
#btnModal {
  margin: 1rem 0 1rem 0;
}
address p span {
  margin: 0 0.8rem 0 0;
}
a {
  color: black;
}
.carousel {
  margin: 0.5rem 0 0.5rem 0;
}
div #carouselControls a {
  color: black;
}
footer {
  padding: 10px 10px 0 20px;
  color: white;
  background-color: #5d80e8;
  margin-bottom: 0px;
  margin-top: 10px;
}
