$primary: #5d80e5;
$secundary:#5c59ff;
$jum:#59aeff;
$black: #0000;

@mixin margenes($top, $botton, $ptop, $pbotton, $bcolor){
    margin-top: $top;
    margin-bottom: $botton;
    padding-top: $ptop;
    padding-bottom: $pbotton;
    background-color: $bcolor;
}
nav {
    background-color: $primary;
    color: $black;
  }
  #title-img {
    color: $secundary;
    margin-top: 15rem;
    padding-top: 4rem;
  }
  #img-title {
    width: 100%;
    height: 50rem;
  }
  .jumbotron {
    background-color: $jum;
    color: $black;
    margin-top: 2rem;
  }
  .card-hotel {
    /*AL USAR FELX PUE SNO USSAMOS BOOTSTRAP*/
    /*Le decimos cuanto crece el elemento y de cuando es el ancho*/
    /* 1=  para tamaño que ocupa en flex groud ocupa 1 pasición, con 2 sera hasta el doble y 150 el ancho*/
  
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    margin-left: 0.5rem;
    /*ml-5 clase bootstrap para generar pading en pixles p-2 o t:top b:botton r: izquierda l:derecha*/
  }
  .btn {
    color: white;
    background-color: $secundary;
    width: 100%;
    border-radius: 0px;
  }
  .btn:hover {
    background-color: $primary;
  }
  .btn-reserva {
    width: 100%;
  }
  .tab-content {
    padding-top: 10px;
  }
  #btnModal {
    margin: 1rem 0 1rem 0;
  }
  address p span {
    margin: 0 0.8rem 0 0;
  }
  a {
    color: #000;
  }
  .carousel {
    margin: 0.5rem 0 0.5rem 0;
  }
  div #carouselControls a {
    color: $black;
  }
  footer {
    padding: 10px 10px 0 20px;
    color: white;
    
   @include margenes(10px, 0px, 10px, 0,$primary)
  }
  